<div class="d-flex align-items-center flex-column justify-content-between py-3 vh-100 px-2 shadow">
    <div class="col-md-12">
        @for (item of sideMenu; track $index) {
            <div class="col-md-12">
                <a href="javascript:void(0)"
                    class="text-decoration-none text-dark py-2 d-flex flex-column align-items-center mt-3" (click)="navigatePage(item.Link)" [ngClass]="{'active': item.IsActive}">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#000000">
                        <path
                            [attr.d]="item.Icon" />
                    </svg>
                    <p class="mb-0">
                        {{item.Title}}
                    </p>
                </a>
            </div>
        }
    </div>
    <div class="col-auto" ngbDropdown>
        <a href="javascript:void(0)" class="text-decoration-none" id="dropdownConfig" ngbDropdownToggle>
            <div class="rounded-circle bg-success d-flex align-items-center justify-content-center user-container bg-primary-subtle fw-semibold text-dark">
                {{getUserInitiaLetter()}}
            </div>
        </a>
        <div ngbDropdownMenu aria-labelledby="dropdownConfig" class="px-2 c-width">
            <div class="text-end">
                <a href="javascript:void(0)" class="text-decoration-none text-dark" (click)="logout()">
                    <small>Sign out</small>
                </a>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="rounded-circle bg-success d-flex align-items-center justify-content-center user-container bg-primary-subtle fw-semibold text-dark">
                        {{getUserInitiaLetter()}}
                    </div>
                </div>
                <div class="col-md-10 ps-2">
                    <p class="mb-0 fw-bold text-truncate col-md-12">{{getFullName()}}</p>
                    <small>{{currentUser.email}}</small>
                </div>
            </div>
        </div>
    </div>
</div>