@if (room()) {
    <div class="mini-player h-100 shadow position-relative" #dragRoot>
        <div class="d-flex justify-content-between align-items-start p-2">
            <strong class="text-white">Meeting</strong>
            <div>
                @if (permissions.microphone == 'granted') {
                <a href="javascript:void(0)" class="text-decoration-none me-3" (click)="toggleMic()" placement="top"
                    [ngbTooltip]="meetingService.isMicOn() ? 'Turn off microphone' : 'Turn on microphone'">
                    @if (meetingService.isMicOn()) {
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="#FFFFFF">
                        <path
                            d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-240Zm-40 520v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Zm40-360q17 0 28.5-11.5T520-520v-240q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240q0 17 11.5 28.5T480-480Z" />
                    </svg>
                    } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="#FFFFFF">
                        <path
                            d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z" />
                    </svg>
                    }
                </a>
                } @else {
                <a #micBtn class="text-decoration-none me-3" placement="top" ngbTooltip="Show more info">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="#FFFFFF">
                        <path
                            d="M400-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T440-520v-240q0-17-11.5-28.5T400-800q-17 0-28.5 11.5T360-760v240q0 17 11.5 28.5T400-480Zm40 360h-80v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T400-320q11 0 20.5-1t19.5-3v204Zm240-40q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm-20-80h40v-160h-40v160Zm20 160q-83 0-141.5-58.5T480-280q0-83 58.5-141.5T680-480q83 0 141.5 58.5T880-280q0 83-58.5 141.5T680-80ZM400-640Z" />
                    </svg>
                </a>
                }
    
                @if (permissions.camera == 'granted') {
                <a href="javascript:void(0)" class="text-decoration-none me-3" (click)="toggleCamera()" placement="top"
                    [ngbTooltip]="meetingService.isCameraOn() ? 'Turn off camera' : 'Turn on camera'">
                    @if(meetingService.isCameraOn()) {
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="#FFFFFF">
                        <path
                            d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160H160Zm0-80h480v-480H160v480Zm0 0v-480 480Z" />
                    </svg>
                    } @else {
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="#FFFFFF">
                        <path
                            d="M880-260 720-420v67l-80-80v-287H353l-80-80h367q33 0 56.5 23.5T720-720v180l160-160v440ZM822-26 26-822l56-56L878-82l-56 56ZM498-575ZM382-464ZM160-800l80 80h-80v480h480v-80l80 80q0 33-23.5 56.5T640-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Z" />
                    </svg>
                    }
                </a>
                } @else {
                <a href="javascript:void(0)" #micBtn class="text-decoration-none me-3" placement="top"
                    ngbTooltip="Show more info">
                    <svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"
                        fill="#FFFFFF">
                        <path
                            d="M400-480Zm240 320H467q13-18 22.5-38t16.5-42h134v-480H160v131q-22 6-42 15.5T80-551v-169q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160Zm-400 40q-83 0-141.5-58.5T40-320q0-83 58.5-141.5T240-520q83 0 141.5 58.5T440-320q0 83-58.5 141.5T240-120Zm0-80q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm-20-80h40v-160h-40v160Z" />
                    </svg>
                </a>
                }
                <a href="javascript:void(0)" class="text-decoration-none text-white me-2" (click)="expand()">
                    <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
                </a>
                <button class="btn btn-sm btn-danger ms-2" (click)="leave()">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                        fill="#FFFFFF">
                        <path
                            d="m136-304-92-90q-12-12-12-28t12-28q88-95 203-142.5T480-640q118 0 232.5 47.5T916-450q12 12 12 28t-12 28l-92 90q-11 11-25.5 12t-26.5-8l-116-88q-8-6-12-14t-4-18v-114q-38-12-78-19t-82-7q-42 0-82 7t-78 19v114q0 10-4 18t-12 14l-116 88q-12 9-26.5 8T136-304Zm104-198q-29 15-56 34.5T128-424l40 40 72-56v-62Zm480 2v60l72 56 40-38q-29-26-56-45t-56-33Zm-480-2Zm480 2Z" />
                    </svg>
                </button>
            </div>
        </div>
    
        <!-- tiny preview of local stream or placeholder -->
        <div class="p-1" style="height: calc(100% - 40px);">
            @if (meetingService.isMinimized() && meetingService.inMeeting()) {
            <div id="room" class="w-100">
                <div class="col-md-12">
                    @if (localTrack()) {
                    @if (meetingService.isCameraOn()) {
                    <video-component [track]="localTrack()!" [participantIdentity]="userName"
                        [isMute]="!meetingService.isMicOn()"></video-component>
                    } @else {
                    <div class="d-flex align-items-center justify-content-center bg-light rounded position-relative" style="height: 8.4rem;">
                        <div class="col-auto fw-semibold fs-4 rounded-circle d-flex align-items-center justify-content-center shadow user-name-icon"
                            [ngStyle]="{'background-color': getColorFromName()}">
                            {{getUserInitiaLetter()}}
                        </div>
                        <div class="text-dark position-absolute fw-semibold col-md-12 text-truncate"
                            style="bottom: 5px; left: 5px;">
                            {{userName}}
                        </div>
                    </div>
                    }
                    } @else {
                    <div class="d-flex align-items-center justify-content-center bg-light rounded position-relative" style="height: 8.4rem;">
                        <div class="col-auto fw-semibold fs-4 rounded-circle d-flex align-items-center justify-content-center shadow user-name-icon"
                            [ngStyle]="{'background-color': getColorFromName()}">
                            {{getUserInitiaLetter()}}
                        </div>
                        <div class="text-dark position-absolute fw-semibold col-md-12 text-truncate"
                            style="bottom: 5px; left: 5px;">
                            {{userName}}
                        </div>
                    </div>
                    }
                    <div id="layout-container" class="video-preview-container">
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}