@if (isPageReady) {
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 bg-light">
                @for (item of alluser; track $index) {
                    <a href="javascript:void(0)" class="text-decoration-none text-dark" [ngClass]="{'selected-user': item.userId == selectedUserId}">
                        <div class="row py-2 px-4">
                            <div class="col-md-2">
                                <div class="user-name-icon rounded-circle d-flex align-items-center justify-content-center fw-semibold" [ngStyle]="{'background-color': getColorFromName(item.firstName, item.lastName)}">
                                    {{getUserInitiaLetter(item.firstName, item.lastName)}}
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row align-items-center justify-content-between">
                                    <div class="col-md-8 text-truncate">
                                        {{item.firstName}} {{(item.lastName != null && item.lastName != '') ? item.lastName : ''}}
                                    </div>
                                    <div class="col-auto">
                                        {{today | date: 'h:mm a'}}
                                    </div>
                                </div>
                                <p class="mb-0">Sounds good?</p>
                            </div>
                        </div>
                    </a>
                }
            </div>
            <div class="col-md-8 border bg-white">
                <div class="card shadow">

                </div>
            </div>
        </div>
    </div>
}