<div class="container-fluid vh-100 bg-light">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="col-md-4 shadow">
            <div class="card p-4">
                <img src="assets/logos.png" alt="logo" class="img-fluid mx-auto" width="70%">
                <h3 class="text-center mt-3">Meeting</h3>
                <div class="mt-3">
                    <label class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" placeholder="Email" class="form-control" [(ngModel)]="email" (input)="isValidEmail()" 
                    [ngClass]="{'error-field': isSubmitted && (email== '' || !isEmailValid)}">
                </div>
                <div class="mt-3">
                    <label class="form-label">Password <span class="text-danger">*</span></label>
                    <div class="position-relative">
                        <input [type]="passwordType" placeholder="Password" class="form-control" [(ngModel)]="password" (keyup.enter)="login()"
                        [ngClass]="{'error-field': isSubmitted && password== ''}">
                        <a href="javascript:void(0)" class="text-decoration-none" (click)="viewPassword()">
                            <i class="text-dark position-absolute fa-solid view-password" [ngClass]="{'fa-eye-slash': passwordType == 'password', 'fa-eye': passwordType == 'text'}"></i>
                        </a>
                    </div>
                </div>
                <button class="btn btn-success mt-3" [disabled]="isLoading" (click)="login()">
                    <i class="fa-solid" [ngClass]="{'fa-spinner fa-spin': isLoading, 'fa-arrow-right-to-bracket': !isLoading}"></i>
                    <span class="ps-2">{{ isLoading ? "Wait" : "Login"}}</span>
                </button>
            </div>
        </div>
    </div>
</div>