.layout-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-color: #fff;
    overflow-x: hidden;
}

.sidemenu-panel {
    width: 7rem;
    flex-shrink: 0;
    background-color: #fff;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.content-panel {
    flex: 1;
    margin-left: 7rem;
    width: calc(100% - 7rem);
    max-width: calc(100vw - 7rem);
    min-height: 100vh;
    overflow-x: hidden;
}