.layout-container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    max-width: 100vw;
    background-color: #fff;
    overflow-x: hidden;
}

.sidemenu-panel {
    width: 7rem;
    flex-shrink: 0;
    background-color: #fff;
    height: calc(100vh - 3rem);
    position: fixed;
    left: 0;
    top: 3rem;
    z-index: 100;
}

.content-panel {
    flex: 1;
    margin-left: 7rem;
    width: calc(100% - 7rem);
    max-width: calc(100vw - 7rem);
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.page-content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    position: relative;
}

.header-panel {
    z-index: 1000;
}

.body-content {
    padding-top: 3rem;
    width: 100%;
}