.rounded-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meetng-date-badge {
    background-color: #f5f1f1 !important;
    color: #222 !important;
    width: 3rem;
    height: 3.3rem;
}