<div class="vh-100 d-flex align-items-center justify-content-center">
    <div class="col-md-10">
        @if (!room() && isValidMeetingId) {
        <!-- <h3 class="text-center">BottomHalf Meeting</h3> -->
        <div class="row align-items-center">
            <div class="col-md-6 d-flex justify-content-center align-items-center flex-column">
                @if (isLoggedIn) {
                    <div class="text-center my-4 col-md-12 py-2 text-truncate">
                        <span class="border px-3 py-2 fw-semibold rounded">{{meetingTitle}}</span>
                    </div>
                }
                <div class="video-preview-container position-relative">
                    <video #previewVideo autoplay playsinline muted class="camera-box"></video>
                    @if (permissions.camera != 'granted') {
                    <div class="text-center position-absolute text-white fw-bold">
                        Do you want people to see and hear you in the meeting?
                        @if (permissions.microphone != 'granted' && permissions.camera != 'denied'){
                        <div class="text-center">Allow microphone</div>
                        } @else if (permissions.microphone != 'granted') {
                        <div class="text-center">Allow microphone and camera</div>
                        } @else {
                        <div class="text-center">Allow camera</div>
                        }
                    </div>
                    } @else if(!isCameraOn) {
                    <div class="text-center position-absolute text-white fw-bold">
                        Camera off
                    </div>
                    }
                    <div class="d-flex align-items-center justify-content-center position-absolute"
                        style="bottom: 8px;">
                        @if (permissions.microphone == 'granted') {
                        <a href="javascript:void(0)"
                            class="text-decoration-none ms-3 mic-video-button bg-dark rounded-circle shadow"
                            (click)="toggleMic()" data-bs-toggle="tooltip" data-bs-placement="top"
                            [attr.title]="isMicOn? 'Turn off microphone' : 'Turn on microphone'">
                            @if (isMicOn) {
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#FFFFFF">
                                <path
                                    d="M480-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-240Zm-40 520v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T480-320q83 0 141.5-58.5T680-520h80q0 105-68 184t-172 93v123h-80Zm40-360q17 0 28.5-11.5T520-520v-240q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v240q0 17 11.5 28.5T480-480Z" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#FFFFFF">
                                <path
                                    d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z" />
                            </svg>
                            }
                        </a>
                        } @else {
                        <a #micBtn class="text-decoration-none ms-3 mic-video-button bg-dark rounded-circle shadow"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Show more info">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#FFFFFF">
                                <path
                                    d="M400-400q-50 0-85-35t-35-85v-240q0-50 35-85t85-35q50 0 85 35t35 85v240q0 50-35 85t-85 35Zm0-80q17 0 28.5-11.5T440-520v-240q0-17-11.5-28.5T400-800q-17 0-28.5 11.5T360-760v240q0 17 11.5 28.5T400-480Zm40 360h-80v-123q-104-14-172-93t-68-184h80q0 83 58.5 141.5T400-320q11 0 20.5-1t19.5-3v204Zm240-40q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm-20-80h40v-160h-40v160Zm20 160q-83 0-141.5-58.5T480-280q0-83 58.5-141.5T680-480q83 0 141.5 58.5T880-280q0 83-58.5 141.5T680-80ZM400-640Z" />
                            </svg>
                        </a>
                        }

                        @if (permissions.camera == 'granted') {
                        <a href="javascript:void(0)"
                            class="text-decoration-none ms-3 mic-video-button bg-dark rounded-circle shadow"
                            (click)="toggleCamera()">
                            @if(isCameraOn) {
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#FFFFFF">
                                <path
                                    d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160H160Zm0-80h480v-480H160v480Zm0 0v-480 480Z" />
                            </svg>
                            } @else {
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#FFFFFF">
                                <path
                                    d="M880-260 720-420v67l-80-80v-287H353l-80-80h367q33 0 56.5 23.5T720-720v180l160-160v440ZM822-26 26-822l56-56L878-82l-56 56ZM498-575ZM382-464ZM160-800l80 80h-80v480h480v-80l80 80q0 33-23.5 56.5T640-160H160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800Z" />
                            </svg>
                            }
                        </a>
                        } @else {
                        <a href="javascript:void(0)" #micBtn
                            class="text-decoration-none ms-3 mic-video-button bg-dark rounded-circle shadow"
                            data-bs-toggle="tooltip" data-bs-placement="top" title="Show more info">
                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                                fill="#FFFFFF">
                                <path
                                    d="M400-480Zm240 320H467q13-18 22.5-38t16.5-42h134v-480H160v131q-22 6-42 15.5T80-551v-169q0-33 23.5-56.5T160-800h480q33 0 56.5 23.5T720-720v180l160-160v440L720-420v180q0 33-23.5 56.5T640-160Zm-400 40q-83 0-141.5-58.5T40-320q0-83 58.5-141.5T240-520q83 0 141.5 58.5T440-320q0 83-58.5 141.5T240-120Zm0-80q8 0 14-6t6-14q0-8-6-14t-14-6q-8 0-14 6t-6 14q0 8 6 14t14 6Zm-20-80h40v-160h-40v160Z" />
                            </svg>
                        </a>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card py-3 px-3">
                    @if (!isLoggedIn) {
                        <div>
                            <label class="form-label">Name <span class="text-danger">*</span></label>
                            <input id="participant-name" class="form-control" [(ngModel)]="userName"
                                placeholder="Type your name" type="text" [ngClass]="{'error-field': isSubmitted && userName== ''}"/>
                        </div>
                        <!-- <div class="mt-3">
                            <label class="form-label">Meeting Id <span class="text-danger">*</span></label>
                            <input [(ngModel)]="meetingId" id="participant-name" class="form-control"
                                placeholder="Meeting Id" type="text" />
                        </div> -->
                        <div class="mt-3">
                            <label class="form-label">Pass Code <span class="text-danger">*</span></label>
                            <input id="participant-name" class="form-control" [(ngModel)]="passCode"
                                placeholder="Meeting passcode" type="text" [ngClass]="{'error-field': isSubmitted && passCode== ''}"/>
                        </div>
                    }
                    <div class="">
                        <div class="d-flex border ps-2 rounded col-md-12 mt-3">
                            <svg fill="#000000" class="video-icon" viewBox="0 -4 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path id="video-camera" class="cls-1"
                                        d="M1450,258l-5-2v2a2,2,0,0,1-2,2h-13a2,2,0,0,1-2-2V246a2,2,0,0,1,2-2h13a2,2,0,0,1,2,2v2l5-2a2,2,0,0,1,2,2v8A2,2,0,0,1,1450,258Zm-7-4v-8h-13v12h13v-4Zm7-6-5,2v4l5,2v-8Z"
                                        transform="translate(-1428 -244)"></path>
                                </g>
                            </svg>
                            <select [(ngModel)]="selectedCamera" class="border-0 form-control"
                                (change)="onCameraChange($event)">
                                @for (cam of cameras; track cam.deviceId) {
                                <option [value]="cam.deviceId">{{ cam.label || "Camera" }}</option>
                                }
                            </select>
                            <svg fill="#000000" class="drop-icon" viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M24 11.305l-7.997 11.39L8 11.305z"></path>
                                </g>
                            </svg>
                        </div>

                        <div class="d-flex border ps-2 rounded col-md-12 mt-3">
                            <svg fill="#000000" class="video-icon" viewBox="0 0 1920 1920"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M960.315 96.818c-186.858 0-338.862 152.003-338.862 338.861v484.088c0 186.858 152.004 338.862 338.862 338.862 186.858 0 338.861-152.004 338.861-338.862V435.68c0-186.858-152.003-338.861-338.861-338.861M427.818 709.983V943.41c0 293.551 238.946 532.497 532.497 532.497 293.55 0 532.496-238.946 532.496-532.497V709.983h96.818V943.41c0 330.707-256.438 602.668-580.9 627.471l-.006 252.301h242.044V1920H669.862v-96.818h242.043l-.004-252.3C587.438 1546.077 331 1274.116 331 943.41V709.983h96.818ZM960.315 0c240.204 0 435.679 195.475 435.679 435.68v484.087c0 240.205-195.475 435.68-435.68 435.68-240.204 0-435.679-195.475-435.679-435.68V435.68C524.635 195.475 720.11 0 960.315 0Z"
                                        fill-rule="evenodd"></path>
                                </g>
                            </svg>
                            <select [(ngModel)]="selectedMic" class="border-0 form-control"
                                (change)="onMicChange($event)">
                                @for (mic of microphones; track mic.deviceId) {
                                <option [value]="mic.deviceId">{{ mic.label || "Microphone" }}</option>
                                }
                            </select>
                            <svg fill="#000000" class="drop-icon" viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M24 11.305l-7.997 11.39L8 11.305z"></path>
                                </g>
                            </svg>
                        </div>

                        <div class="d-flex border ps-2 rounded col-md-12 mt-3">
                            <svg viewBox="0 0 24 24" class="video-icon" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path
                                        d="M16 9C16.5 9.5 17 10.5 17 12C17 13.5 16.5 14.5 16 15M19 6C20.5 7.5 21 10 21 12C21 14 20.5 16.5 19 18M13 3L7 8H5C3.89543 8 3 8.89543 3 10V14C3 15.1046 3.89543 16 5 16H7L13 21V3Z"
                                        stroke="#000000" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <select [(ngModel)]="selectedSpeaker" class="border-0 form-control"
                                (change)="onSpeakerChange($event)">
                                @for (sp of speakers; track sp.deviceId) {
                                <option [value]="sp.deviceId">{{ sp.label || "Speaker" }}</option>
                                }
                            </select>
                            <svg fill="#000000" class="drop-icon" viewBox="0 0 32 32"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                <g id="SVGRepo_iconCarrier">
                                    <path d="M24 11.305l-7.997 11.39L8 11.305z"></path>
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="mt-3 text-end">
                    <button class="btn btn-secondary me-2" (click)="navToDahsboard()">Cancel</button>
                    <button class="btn btn-success" (click)="joinRoom()">Join now</button>
                </div>
            </div>
        </div>
        } @else {
            <h3 class="fw-bold text-center mb-3">Bottom<span class="color-green">Half</span> Meet</h3>
            <h4 class="text-center fw-bold">Invalid meeting id. Please contact to admin</h4>
        }
    </div>