<!-- Meeting View Component -->
<!-- Displays video grid with local and remote participants -->
<!-- Participant roster is now handled by meeting.component -->
<div class="meet-container">
    <div class="grid-container rounded" [attr.data-count]="remoteUsersCount + 1">
        @if (localTrack() && meetingService.isCameraOn()) {
        <video-component [track]="localTrack()!" [participantIdentity]="roomForm.value.participantName!" [local]="true"
            [isMute]="!meetingService.isMicOn()"></video-component>
        } @else {
        <!-- Avatar placeholder when camera is off or no local track -->
        <div class="d-flex align-items-center justify-content-center h-97 bg-light rounded position-relative">
            <div class="col-auto fw-semibold fs-4 rounded-circle d-flex align-items-center justify-content-center shadow user-name-icon-lg"
                [ngStyle]="{'background-color': getColorFromName(roomForm.value.participantName!)}">
                {{getUserInitiaLetter(roomForm.value.participantName!)}}
            </div>
            @if (!meetingService.isMicOn()) {
            <div class="position-absolute user-mute-mic">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
                    <path
                        d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z" />
                </svg>
            </div>
            }
            <div class="text-dark position-absolute fw-semibold col-md-12 text-truncate"
                style="bottom: 5px; left: 5px;">
                {{roomForm.value.participantName!}}
            </div>
        </div>
        }
        @for (participant of remoteParticipants().values(); track participant.identity) {
        @if (isParticipantCameraEnabled(participant.identity) &&
        getVideoTrack(participant.identity)) {
        <video-component [track]="getVideoTrack(participant.identity)!" [participantIdentity]="participant.identity"
            [isMute]="!isParticipantAudioEnabled(participant.identity)"></video-component>
        } @else {
        <!-- Avatar placeholder for participants without camera or with camera off -->
        <div class="d-flex align-items-center justify-content-center h-97 bg-light rounded position-relative">
            <div class="col-auto fw-semibold fs-4 rounded-circle d-flex align-items-center justify-content-center shadow user-name-icon-lg"
                [ngStyle]="{'background-color': getColorFromName(participant.identity)}">
                {{getUserInitiaLetter(participant.identity)}}
            </div>
            @if (!isParticipantAudioEnabled(participant.identity)) {
            <div class="position-absolute user-mute-mic">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#000">
                    <path
                        d="m710-362-58-58q14-23 21-48t7-52h80q0 44-13 83.5T710-362ZM480-594Zm112 112-72-72v-206q0-17-11.5-28.5T480-800q-17 0-28.5 11.5T440-760v126l-80-80v-46q0-50 35-85t85-35q50 0 85 35t35 85v240q0 11-2.5 20t-5.5 18ZM440-120v-123q-104-14-172-93t-68-184h80q0 83 57.5 141.5T480-320q34 0 64.5-10.5T600-360l57 57q-29 23-63.5 39T520-243v123h-80Zm352 64L56-792l56-56 736 736-56 56Z" />
                </svg>
            </div>
            }
            <div class="text-dark position-absolute fw-semibold col-md-12 text-truncate"
                style="bottom: 5px; left: 5px;">
                {{participant.identity}}
            </div>
        </div>
        }
        }
        <!-- Hidden audio components for all remote tracks -->
        @for (remoteTrack of remoteTracksMap().values(); track
        remoteTrack.trackPublication.trackSid) {
        @if (remoteTrack.trackPublication.kind === 'audio') {
        <audio-component [track]="remoteTrack.trackPublication.audioTrack!" hidden></audio-component>
        }
        }
    </div>
</div>